<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="TestNG Suite with GIT" verbose="1" >
 
  <test name="Google Test" >
    <classes>
       <class name="org.testCases.com.TC01" />
    </classes>
  </test>
 
 <test name="Gmail Test" >
    <classes>
       <class name="org.testCases.com.TC02" />
    </classes>
  </test>
  
  <test name="Cricinfo Test" >
    <classes>
       <class name="org.testCases.com.TC03" />
    </classes>
  </test>
  
</suite>